.breadcrumb-nav {
    background-color: #ffffff; 
    width: 100%; 
    border-top: 1px solid #f0f0f0; 
    border-bottom: 1px solid #f0f0f0; 
    padding-top: 10px;
    padding-bottom: 30px;
}

.breadcrumb-container { 
    max-width: 900px; 
    transform: translate(-140px,10px);
}

.breadcrumb {
    padding: 0;
    margin: 0;
}

.breadcrumb-item a {
    color: #555; 
    text-decoration: none;
    transition: color 0.2s;
    font-size: 0.95rem;
}

.breadcrumb-item a:hover {
    color: #007b5f; 
}

.breadcrumb-item.active {
    color: rgb(10, 87, 141); 
    font-weight: 500;
    font-size: 0.95rem;
}