.main-container-1 {
    max-width: 800px;
    width: 90%;
    margin: 25px auto;
    
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 30px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: w;
}

.body {
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
    padding: 0;
}
.main-container-1 label {
    display: block; 
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 14px;
    color: #333;
}
.main-container-1 input[type="text"],
.main-container-1 input[type="email"],
.main-container-1 input[type="tel"],
.main-container-1 input[type="password"],
.main-container-1 input[type="date"],
.main-container-1 select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; 
    margin-bottom: 20px; 
    font-size: 14px;
}
.main-container-1 h2 strong {
    color: #004d99;
}

#language, #danhxung {
    width: 30%; 
    min-width: 150px;
}
#referrer {
    width: 100%;
}


.form-row-2-col {
    display: flex;
    gap: 20px; 
    width: 100%;
    margin-bottom: 5px; 
}

.form-col-50 {
    flex: 1; 
}
.form-col-50 input,
.form-col-50 select {
    margin-bottom: 0; 
}

.submit-area {
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    margin-top: 25px;
}
.submit-area button {
    padding: 10px 30px;
    background-color: #004d99; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}



.main-container-1 .checkbox-group {
    margin-top: 20px;
}
.main-container-1 input[type="radio"],
.main-container-1 input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}
.main-container-1 label[for="thefirst"],
.main-container-1 label[for="thesecond"] {
    display: inline; 
    font-weight: normal;
}



@media (max-width: 768px) {
    .form-row-2-col {
        flex-direction: column;
        gap: 0;
    }

    .form-col-50 input,
    .form-col-50 select {
        margin-bottom: 20px; 
    }

    .main-container-1 {
        max-width: 100%;
        margin: 15px;
        padding: 15px;
        width: auto;
    }
    
    #language, #danhxung {
        width: 100%;
        min-width: unset;
    }
    
}