body {
      font-family: "Maven Pro", sans-serif;
      margin: 0;
      padding: 0;
    }

#carouselExampleInterval {
    margin-bottom: 70px;
    padding-bottom: 0;
}

.main-container-1 {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.main-container-1 h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
}

.uudai-card {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.uudai-card {
    width: 100%; 
    height: auto;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.uudai-card img {
    width: 100%; 
    height: auto;
    object-fit: cover;
}

.uudai-card .card-body {
    text-align: right;
    margin-right: 10px;
    font-size: 17px;
    color:rgb(53,123,41);
    font-weight: 600;
}

.container-3 {
    display: flex;
    flex-direction: column;
}