.body {
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
    padding: 0;
}

.main-content {
    margin: 0 auto;
    padding: 3rem 1rem 5rem 1rem;
    max-width: 1200px;
}

.main-content h2, h4 {
    color: rgb(10, 87, 141);
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 2rem 0;
}