body {
    font-family: "Maven Pro", sans-serif;
    margin: 0;
    padding: 0;
}

.main-content{
    padding-left: 5rem;
    padding-top: 5rem;
    max-width: 83rem; 
}

.main-content h2, h3{
    color: rgb(10,87,141);
}

.main-content p{
    font-size: 18px;
}

.container-1{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 30px;
}

.container-1 img{
    width: 300px !important;
    height: 275px !important;
}
.navigation-tabs {
    display: flex;
    align-items: flex-end;
    position: relative;
    font-family: 'Maven Pro', sans-serif;
    max-width: 900px;
    margin: 20px auto;
}

.tab-button {
    text-decoration: none;
    color: #6c757d;
    background-color: transparent;
    padding: 10px 20px;
    margin-right: 15px;
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.2s ease;
    border-radius: 6px 6px 0 0;
}

.tab-button:hover {
    color: white;
    background-color: #1168b4;
}

.tab-divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ccc;
    z-index: -1;
}

.tab-button:not(.active) {
    transform: translateY(-2px); 
}