body {
    font-family: "Maven Pro", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    min-height: 100vh;
}

.main-content {
    margin: 0 auto;
    padding: 3rem 1rem 5rem 1rem;
    max-width: 1200px;
    
}

.main-content h2, 
.main-content h4 {
    color: rgb(10, 87, 141);
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.main-content h6 {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    color: #333;
}

.main-content p {
    line-height: 1.6;
    margin-bottom: 1.5rem;
    color: #555;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 2rem 0;
}


.carousel-inner {
    max-height: 400px;
    overflow: hidden;
}
.carousel-item img {
    height: auto;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .main-content {
        padding: 2rem 1rem;
    }
}